<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ha_hai.demomaterialanimationtransition">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/MaterialAnimations">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TransitionActivity"
            android:theme="@style/MaterialAnimations.Red" />
        <activity
            android:name=".TransitionExplodeActivity"
            android:theme="@style/MaterialAnimations.Red" />
        <activity
            android:name=".TransitionSlideActivity"
            android:theme="@style/MaterialAnimations.Red" />
        <activity
            android:name=".ShareElementsActivity"
            android:theme="@style/MaterialAnimations.Blue" />
        <activity
            android:name=".CircularRevealActivity"
            android:theme="@style/MaterialAnimations.Yellow"
            />
    </application>

</manifest>
